.footer {
  height: 70px;
  /* border-top: 1px solid var(--primary); */
  padding: 1rem;
  display: flex;
  align-items: center;
  animation-delay: 1s !important;
  opacity: 0;
  font-size: 0.875rem;
}

.footer > span:first-child {
  color: var(--secondary);
  margin: 0 0.25rem;
}

.footer a {
  color: var(--secondary);
  font-weight: 700;
  margin-left: 5px;
}
