:root {
  --primary: #669aca;
  --secondary: #ba324f;
  --tertiary: #f1d302;
  --text-primary: #242423;
  --background: #fdfffc;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--text-primary);
  background-color: var(--background);
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
