.container {
  font-size: 1rem;
}
@keyframes open {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.leave {
  animation: close 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes close {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transform: translateX(-100%);
  opacity: 0;
  animation: open 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s forwards;
}

.label {
  color: var(--primary);
  font-weight: 700;
}

.input {
  padding: 0.5rem;
  border: 3px solid var(--secondary);
  border-radius: 5px;
  margin-bottom: 2rem;
}

.submit {
  border: 2px solid var(--primary);
  border-radius: 5px;
  background-color: var(--primary);
  padding: 0.5rem;
  color: #fff;
  cursor: pointer;
}

.submit:disabled {
  filter: grayscale(70%);
  cursor: not-allowed;
}
.error {
  font-size: 12px;
  /* padding: 0.5rem; */
  color: red;
}

.registerText {
  margin-top: 2rem;
  font-size: 0.9rem;
  text-align: center;
}

.registerText > div:first-child > span {
  color: var(--secondary);
  font-weight: 700;
}

.registerLink {
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}
