.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.input {
  padding: 0.5rem;
  border: 2px solid #669aca;
  border-radius: 5px;
}

.submit {
  border: 2px solid #669aca;
  border-radius: 5px;
  background-color: #669aca;
  padding: 0.5rem;
  color: #fff;
  cursor: pointer;
}

.submit:disabled {
  filter: grayscale(50%);
  cursor: not-allowed;
}
.error {
  padding: 0.5rem;
  color: red;
}
