.container {
  overflow: hidden;
  max-width: 500px;
  font-size: 1rem;
  opacity: 1;
  transition: max-height 1s ease-out;
  border-radius: 20px;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.5);
  /* border-bottom: 1px solid var(--primary); */
  /* margin: 2rem 0; */
}

.form {
  max-height: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  transition: all 1s ease-out;
}

.fieldWrapper {
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  /* text-align: center; */
  /* padding-right: 1rem; */
}

.label {
  color: var(--text-primary);
  font-size: 1rem;
  font-weight: 700;
  padding: 0.25rem 0 1rem 0;
  text-decoration: underline;
  text-align: center;
}

.input {
  width: 80%;
  padding: 0.5rem;
  border: 2px solid var(--primary);
  border-radius: 5px;
  margin-bottom: 3rem;
}

.buttonsWrapper {
  display: flex;
  gap: 1rem;
  align-self: center;
  /* margin: 0 1rem; */
}

.error {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: red;
  animation: shake 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin-bottom: 0.2rem;
}

.form input[type="radio"] {
  margin: 1rem 0.5rem;
}

.form textarea {
  width: 95%;
  resize: vertical;
}

@keyframes shake {
  from {
    transform: translateX(4px);
  }
  25% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateY(-4px);
  }
  75% {
    transform: translateY(4px);
  }
  to {
    transform: translate(0px);
  }
}

.recipePreview {
  height: 100%;
  overflow: hidden;
  transition: all 0.5s 0.25s;
  padding: 0 1rem 0rem 1rem;
}

.recipePreview > div:last-child {
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
}
