.container {
  overflow: hidden;
  max-width: 500px;
  font-size: 1rem;
  opacity: 1;
  transition: max-height 1s ease-out;
  border-bottom: 1px solid var(--primary);
  margin: 2rem 0;
}

.form {
  max-height: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  transition: all 1s ease-out;
}

.fieldWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  text-align: center;
}

.label {
  color: var(--secondary);
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem;
  text-decoration: underline;
}

.input {
  width: 80%;
  padding: 0.5rem;
  border: 2px solid var(--primary);
  border-radius: 5px;
  margin-bottom: 3rem;
}

.buttonsWrapper {
  display: flex;
  gap: 2rem;
}

.error {
  text-align: center;
  font-size: 16px;
  color: red;
}

.recipePreview {
  overflow: hidden;
  transition: all 0.5s;
}
